@media (max-width: 768px) {
    #chartContainer .button-container {
        flex-direction: column; /* Stacks buttons vertically on small screens */
    }
}

/* CSS file for the air quality map and interactive line chart */
#map {
    width: 100%;
    height: 90vh; 
}
.year-switcher {
    background: white;
    padding: 5px;
}
.info.legend {
    padding: 6px 8px;
    font: bold 16px Arial, Helvetica, sans-serif; 
    color: black; 
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 300px;
    height: 240px;
}
.info.legend h4 {
    font-size: 20px; /* Increase the size of the legend title */
    font-weight: bold; /* Make the title bolder */
}
.info.legend div {
    font-size: 16px; /* Increase the font size of the legend entries */
    margin: 8px 0; /* Increase spacing between entries for better readability */
}
.info.legend i {
    height: 20px; /* Increase the height of the color boxes */
    width: 40px; /* Increase the width of the color boxes */
    display: inline-block;
    margin-right: 10px; /* Space between the color box and the text */
    vertical-align: middle; /* Align the color box with the middle of the text */
}

.year-controls button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    color: black;
}

.year-controls button:hover {
    background-color: #ddd;
}

.year-controls button:focus,
.year-controls button.active {
    background-color: #ccc;
}

#dataTypeSelect {
    font-weight: bold;
    color: black;
    font-size: 18px;
    width: 300px;
}

#dataTypeSelect option {
    font-weight: bold;
    color: black;
}

/* Clear Chart button styling */
#clearChartBtn {
    display: block; 
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; 
}

#clearChartBtn:hover {
    background-color: #0056b3; /* Darker shade on hover */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Elevated shadow on hover */
}


.button-container .btn-custom {
    background-color: #007bff;
    color: white;
    margin-bottom: 10px; /* Space between buttons */
    border: 2px solid #007bff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button-container .btn-custom:hover, .button-container .btn-custom:focus {
    background-color: #0056b3;
    border-color: #0056b3;
}

.button-container .btn-custom:active {
    background-color: #003f7f; 
}

.full-screen-background {
    background-image: url('../images/airqualitymap.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.button-container {
    display: flex;
    flex-wrap: wrap; /* Allows buttons to wrap onto the next line if not enough space */
    justify-content: flex-start; /* Aligns buttons to the start of the div */
    gap: 10px; /* Space between buttons */
}

.button-container button {
    padding: 10px 20px; 
    font-size: 16px; 
    flex: 1 1 30%; /* Flex grow, flex shrink, and basis - adjust basis according to your design */
    text-align: center; /* Centers the text within the buttons */
}

#areaChart {
    width: 100%;
    display: none;
    height: 400px;
    background-color: white;
    padding: 15px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.stealth-link {
    color: black; 
    text-decoration: none; /* No underline initially */
    transition: text-decoration 0.3s ease; 
}

.stealth-link:hover, .stealth-link:focus {
    text-decoration: underline; /* Underline on hover or focus for accessibility */
    color: blue; 
}

.strong-red {
    color: red; 
}

.strong-blue {
    color: blue;
}

/* CSS for modal text */
.modal-text-large {
    font-size: 18px; 
    color: black; 
}

.col-md-8, .col-md-4 {
    margin-top: 20px;
}
